/* Global */
*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
   	margin:0;
	padding:0;
}
html{
     width:100%;
	 height:100%;
	 /*禁止手机横屏自动调整文字大小*/
	 -ms-text-size-adjust:none;
	 -webkit-text-size-adjust:none;
	 -moz-text-size-adjust:none;
	 -o-text-size-adjust:none;
}

body{
	 font-family:Microsoft Yahei, 'Raleway', Arial, sans-serif;
}

ul{
   list-style:none;
   padding:0;
   margin:0;
}

a:link,a:visited{
   text-decoration:none;
   outline:none;
}


*, *:after, *:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box; 
}

.clearfix:before,.clearfix:after{ 
   content: ''; display:block;
}
.clearfix:after { 
   clear: both; 
}

img{
	border:0 none;
}

.top{
    height: 90px;
    padding: 10px 0 16px;
}
.en{
    width: 46px;
    height: 30px;
    display: inline-block;
    border-radius: 10px;
    background: #cdcdcd;
    color: #fff;
    text-align: center;
    line-height: 30px;
    float: right;
    margin-top: 20px;
}
.content{
    width: 96%;
    margin: 0 auto;
}
.slideBox{ width:100%; overflow:hidden; position:relative;}
.slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ float:left; margin-right:2px;  width:15px; height:6px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }
.slideBox .hd ul li.on{ background:#f00; color:#fff; }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{ width:100%;display:block;  }
.block1{
    background: #f2f2f2;
    color: #ccc;
    height: 44px;
}
.title {
    border-left: 6px solid #15559d;
    background: #f2f2f2;
}
.title p{
    font-size: 20px;
    float: left;
    line-height: 44px;
    color: #666;
}
.title span{
    font-size: 14px;
    margin-left: 6px;
}
.title a{
    float: right;
    font-size: 14px;
    line-height: 44px;
    color: #666;
}
.slideTxtBox{ width:100%;text-align:left;  }
.slideTxtBox .hd {
    position: relative;
    padding: 10px 0;
    height: a;
}
.slideTxtBox .hd ul{ 
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
.slideTxtBox .hd ul li {
    float: left;
    padding: 0 15px;
    cursor: pointer;
    line-height: 40px;
    width: 140px;
    text-align: center;
    padding: 0;
    line-height: 40px;
    background: #f2f2f2;
    border-radius: 8px;
    border: 1px solid #ccc;
    color: #666;
    width: 31%;
    margin: 10px 1%;
}
.slideTxtBox .hd ul li.on{ 
    background:#15559d;
    color: #fff; 
    border-color: #15559d;;
}
.slideTxtBox .bd ul{ 
    padding-top: 0;
    zoom:1;  
}
.slideTxtBox .bd li{}
.slideTxtBox .bd li .date{ float:right; color:#999;  }

.pro-box li{
    float: left;
    width: 31%;
    margin: 0 1%;
    background: url(../images/probg.jpg) no-repeat;
    background-size: 100% 100%;
    background-position: center bottom;
    padding-bottom: 6px;
    border: 1px solid #ccc;
    margin-bottom: 30px;
}
.pro-box li img{
    width: 100%;
}
.pro-box li p {
    text-align: center;
    color: #fff;
    font-size: 16px;
    height: 40px;
    margin-top: 30px;
}
.news{
    position: relative;
    padding-bottom: 10px;
    border-bottom:dashed 1px #ccc;
    margin-top: 10px;
}
.news img{
    position: absolute;
    left: 0;
    top: 6px;
}
.news h3{
    font-weight: normal;
    font-size: 18px;
    color: #333;
}
.news p{
    font-size: 14px;
    color: #999;
}
.footer{
    padding: 20px 0 90px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 26px;
    background: #333;
    margin-top: 20px;
}
.nav{
    background: #15559d;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.nav > li {
    float: left;
    width: 16.5%;
    background: url(../images/li.jpg) no-repeat;
    background-position: right center;
    height: 70px;
    text-align: center;
    line-height: 70px;
    position: relative;
}
.nav>li>a{
    color: #fff;
}
.nav li ul{
    position: absolute;
    bottom: 70px;
    left: 0;
    background: #fff;
    width: 120%;
    border: 1px solid #ccc;
    display: none;
}
.nav li ul li a{
    color: #333;
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    display: block;
}
.nav li ul li{
    border-bottom: 1px dashed #333;
    height: 34px;
}
.title2{
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    background: url(../images/tit1.jpg) no-repeat 100% 100%;
    font-size: 24px;
    letter-spacing: 2px;
}
.por{
    text-align: center;
    background: #f5f5f5;
    padding-top: 20px;
    padding-bottom: 10px;
}
.por img{
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px #ccc;
}
.por-txt h4{
    color: #15549b;
    font-size: 22px;
    margin-top: 16px;
    font-weight: normal;
}
.por-txt p{
    text-indent: 32px;
    color: #666;
    font-size: 18px;
    line-height: 28px;
    margin: 4px 0 0px;
}
.kh-cart a{
    display: inline-block;
    padding: 8px 28px;
    color: #333;
    background: #e6e6e6;
    font-size: 18px;
    margin: 20px 35px;
}
.kh-cart{
    text-align: center;
}
.kh-cart a:hover{
    color: #fff;
    background: #16569d;
}
.kh-news h4 a{
    color: #4c4c4c;
    font-size: 18px;
    font-weight: normal;
}
.kh-news p a{
    color: #999;
    font-size: 16px;
}
.kh-news h4{
    margin-bottom: 6px;
}
.kh-news li{
    padding: 20px 0;
    border-bottom: 1px dashed #666;
}
.fy a{
    color: #333 !important;
    margin: 0 4px;
}
.fy{
    margin: 10px 0;
    text-align: center;
}
.kh-news span{
    color: #999;
    font-size: 14px;
}
.chanpin li{
    background: #f2f2f2;
    padding: 1px;
    margin-bottom: 10px;
}
.chanpin h4{
    line-height: 36px;
    margin-top: 14px;
}
.chanpin .more{
    float:right;
    color:#16569d;
    font-weight: normal;
    font-size: 14px;
}
.chanpin h5{
    color:#16569d;
    font-size:16px;
    line-height: 32px;
}
.chanpin p{
    line-height: 30px;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide{
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
}
.swiper-slide p{
    position: absolute;
    background: rgba(20,88,177,0.6);
    color: #fff;
    bottom: 0;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    width:100%;
}